@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header class="z-20 sticky top-0">
    <nav class="flex h-[5rem] w-full items-center bg-white p-6 drop-shadow-md">
        <div class="mr-4 flex w-fit items-center rounded pr-4">
            <span data-inr_sidebar-menu-icon class="material-symbols-outlined inr_sidebar-menu-icon cursor-pointer text-medium_gray hover:text-dark_gray">
                menu_open
            </span>
            <img src="~/images/logo_e-lesson.png" alt="logo" />
            <h1 class="ml-2 hidden font-bold uppercase text-accent md:flex">Learner</h1>
        </div>

        <div class="relative ml-auto min-w-fit md:m-auto">
            <div class="hidden h-[3rem] w-[24rem] items-center md:flex">
                <span class="material-symbols-outlined absolute left-1 text-medium_gray">
                    search
                </span>
                <input type="text" placeholder="Search Courses" class="h-full w-full rounded-lg bg-accent_lightestGray pl-8 outline-accent focus:outline-2" />
            </div>

            <div class="relative flex items-center md:hidden">
                <span data-inr-mb-search-icon class="material-symbols-outlined inr_mbl-search-icon cursor-pointer text-medium_gray">
                    search
                </span>
                <div data-inr_mbl_search_bar class="hiddend absolute -right-[100px] top-[2rem] h-[3rem] w-[20rem] items-center md:flex">
                    <input type="text" placeholder="Search Courses" class="h-full w-full rounded-lg pl-6 outline-accent focus:outline-2" />
                </div>
            </div>
        </div>

        <div class="ml-2">
            <div class="flex items-center gap-2">
                <div class="flex w-fit cursor-pointer gap-1 border md:p-2 md:rounded-md md: md:border-accent_lightestGray md:hover:bg-accent_lightestGray">
                    <span class="material-symbols-outlined text-medium_gray">
                        logout
                    </span>
                    <a class="text-blue-500 hover:underline" onclick="location.href='@Url.Action("Logout", "Account")'">Logout</a>
                </div>
                <img id="profilePicBurger" class="size-10 cursor-pointer" src="~/images/profile-pic.png" alt="profile_picture"/> 
            </div>
        </div>
    </nav>
</header>