@model e_learning.ViewModels.LayoutsViewModel

@{
    var currentViewName = ViewData["CurrentViewName"] as string;
    string GetActiveClass(string viewName)
    {
        return currentViewName == viewName ? "active" : "";

    };
}

<aside data-sidebar-menu class="sidebar-menu z-10 h-[calc(100dvh-5rem)] flex-shrink-0 sticky bottom-0 left-0 top-[5rem] flex w-[5rem] flex-col items-center overflow-hidden border-r border-r-accent_lightGray bg-white pt-[1rem] shadow-md">
    <div class="sidebar-top mb-[1rem] flex w-full flex-col items-center gap-2">
        <a>
            <img class="sidebar-profile-image" src="~/images/profile-pic.png" alt="profile_pic" />
        </a>
        <div class="sidebar-top-text text-center">
            <p class="hidden-sidebar">Welcome to E-LESSSON</p>
            <p class="hidden-sidebar font-bold text-accent_lightGray">@Model.User.Firstname @Model.User.Lastname</p>
            <div class="hidden-sidebar mb-2 flex w-fit cursor-pointer items-center justify-center gap-1 md:p-2 md: md:border-accent_lightestGray md:hover:bg-accent_lightestGray">
                <span class="material-symbols-outlined text-medium_gray">
                    logout
                </span>
                <a class="text-blue-500 hover:underline" onclick="location.href='@Url.Action("Logout", "Account")'">Logout</a>
            </div>
        </div>
    </div>
    <div class="sidebar-middle flex-1 w-full overflow-y-auto overflow-x-hidden">
        <ul class="sidebar-list m-0 flex flex-col p-0">
            <li class="sidebar-list-item @GetActiveClass("Dashboard")">
                <a asp-action="Dashboard" asp-controller="Learner" class="sidebar-link">
                    <span class="material-symbols-outlined custom-icon-class">
                        dashboard
                    </span>
                    <span class="hidden-sidebar sidebar-link-text">
                        Dashboard
                    </span>
                </a>
            </li>

            <li class="sidebar-list-item">
                <a class="sidebar-link">
                    <span class="material-symbols-outlined custom-icon-class">
                        library_books
                    </span>
                    <span class="hidden-sidebar sidebar-list-text">
                        Courses
                    </span>
                </a>

            </li>

            <li class="sidebar-list-item">
                <a class="sidebar-link">
                    <span class="material-symbols-outlined custom-icon-class">
                        bookmarks
                    </span>
                    <span class="hidden-sidebar sidebar-list-text">
                        Bookmarks
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-bottom flex w-full flex-col">
        <ul class="sidebar-list m-0 flex flex-col p-0">
            <li class="sidebar-list-item">
                <a class="sidebar-link">
                    <span class="material-symbols-outlined custom-icon-class">
                        settings
                    </span>
                    <span class="hidden-sidebar sidebar-link-text">
                        Settings
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>