@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model UserModel;

@if (User.Identity.IsAuthenticated)
{
    <h1>Welome to your dashboard</h1>
}

