@model e_learning.DataTransfersObjects.UserDto

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "User Details";
}

<div>

    <div>
        <p>@Model.Firstname</p>
        <p>@Model.Lastname</p>
        <p>@Model.UserName</p>
    </div>
</div>