@using Microsoft.AspNetCore.Mvc.TagHelpers

@model e_learning.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Signup";

    Layout = "_LoginAndRegisterLayout";
}

<div class="flex h-full w-full items-center justify-center gap-4 px-8">
    <div class="flex w-full flex-col items-start justify-center md:w-fit">
        <h4 class="item py-4 text-2xl font-bold text-blue-700">Create an Account</h4>
        <div class="font-bold text-red-700" asp-validation-summary="ModelOnly"></div>
        <form class="flex w-full flex-col gap-4 md:w-fit" autocomplete="off" asp-action="Register" asp-controller="Account" method="post">
            <div class="flex w-full flex-col gap-4 md:w-fit md:flex-row">
                <div class="flex flex-col gap-4">

                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="First Name" asp-for="FirstName" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="FirstName"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Last Name" asp-for="LastName" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="LastName"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Middlename (optional)" asp-for="MiddleName" type="text" />
                    <span></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Phonenumber (optional)" asp-for="PhoneNumber" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="flex flex-col gap-4">
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Email Address" autocomplete="new-email" asp-for="Email" type="email" />
                    <span class="font-bold text-red-700" asp-validation-for="Email"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Username" autocomplete="new-username" asp-for="Username" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="Username"></span>
                    <div class="relative flex h-10 w-full items-center justify-between rounded-sm bg-gray-200">
                        <input class="password__input h-full w-full bg-gray-200 p-2 font-bold outline-none" placeholder="Password" autocomplete="new-password" asp-for="Password" type="password" />
                        <span class="password__input--visible absolute right-1 hidden w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 height="24px"
                                 viewBox="0 -960 960 960"
                                 width="20px"
                                 class="cursor-pointer fill-zinc-700 hover:fill-blue-700">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>
                        </span>
                        <span class="password__input--hidden absolute right-1 w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 height="24px"
                                 viewBox="0 -960 960 960"
                                 width="20px"
                                 class="cursor-pointer fill-zinc-700 hover:fill-blue-700">
                                <path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z" />
                            </svg>
                        </span>
                    </div>
                    <span class="font-bold text-red-700" asp-validation-for="Password"></span>
                    <div class="relative flex h-10 w-full items-center justify-between rounded-sm bg-gray-200">
                        <input class="confirm__password__input h-full w-full bg-gray-200 p-2 font-bold outline-none" placeholder="Confirm Password" asp-for="ConfirmPassword" type="password" />
                        <span class="confirm__password__input--visible absolute right-1 hidden w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 height="24px"
                                 viewBox="0 -960 960 960"
                                 width="20px"
                                 class="cursor-pointer fill-zinc-700 hover:fill-blue-700">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>
                        </span>
                        <span class="confirm__password__input--hidden absolute right-1 w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 height="24px"
                                 viewBox="0 -960 960 960"
                                 width="20px"
                                 class="cursor-pointer fill-zinc-700 hover:fill-blue-700">
                                <path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z" />
                            </svg>
                        </span>
                    </div>
                    <span class="font-bold text-red-700" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <button type="submit" class="btn loading__trigger w-full bg-blue-500 text-white hover:bg-black md:w-[30%]">Signup</button>
        </form>
    </div>
    <div class="w-[40%] hidden lg:flex">
        <img class="" src="~/images/ELearning.png" />
    </div>
</div>