@using Microsoft.AspNetCore.Mvc.TagHelpers

@model e_learning.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Signup";

    Layout = "_LoginAndRegisterLayout";
}

<div class="flex h-full w-full items-center justify-center gap-4 px-8">
    <div class="flex w-full flex-col items-start justify-center md:w-fit">
        <h4 class="item py-4 text-2xl font-bold text-blue-700">Create an Account</h4>
        <form class="flex w-full flex-col gap-4 md:w-fit" autocomplete="off" asp-action="Register" asp-controller="Account" method="post">
            <div class="flex w-full flex-col gap-4 md:w-fit md:flex-row">
                <div class="flex flex-col gap-4">
                    <div class="font-bold text-red-700" asp-validation-summary="ModelOnly"></div>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="First Name" asp-for="FirstName" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="FirstName"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Last Name" asp-for="LastName" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="LastName"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Middlename (optional)" asp-for="MiddleName" type="text" />
                    <span></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Phonenumber (optional)" asp-for="PhoneNumber" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="flex flex-col gap-4">
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Email Address" asp-for="Email" type="email" />
                    <span class="font-bold text-red-700" asp-validation-for="Email"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Username" asp-for="Username" type="text" />
                    <span class="font-bold text-red-700" asp-validation-for="Username"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Password" autocomplete="new-password" asp-for="Password" type="password" />
                    <span class="font-bold text-red-700" asp-validation-for="Password"></span>
                    <input class="h-10 rounded-sm bg-gray-200 p-2 font-bold outline-none" placeholder="Confirm Password" asp-for="ConfirmPassword" type="password" />
                    <span class="font-bold text-red-700" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <button type="submit" class="btn w-full bg-blue-500 text-white hover:bg-black md:w-[30%]">Signup</button>
        </form>
    </div>
</div>
