

<template data-floating-upload-template>
    <div data-floating-upload-container class="z-20 fixed bottom-6 right-6 flex h-fit max-h-[20rem] w-[30rem] flex-col items-center gap-4 overflow-y-auto rounded-lg bg-white p-6 shadow-md sm:w-[20rem]">
        <div class="flex w-full items-center justify-between">
            <p class="text-md font-bold text-accent_lightGray grayscale">Please do not leave or refresh the page, while files upload on the background</p>
            <button data-floating-close-button class="" type="button">
                <span class="material-symbols-outlined text-accent-dark_gray hover:text-accent">
                    close
                </span>
            </button>
        </div>
    </div>
</template>
