@model e_learning.Views.Instructor.ViewModels.UploadVideoViewModel


    <div data-file-details-form-container class="file-details-form h-full w-full bg-accent_lightestGray shadow-lg">
        <form data-video-details-form class="video-details-form block h-full w-full p-4">
            <h1 class="mb-4 text-center text-xl font-bold uppercase text-accent">Video Details</h1>
            <div class="video-details-input-container">
                <input id="lesson-tittle" name="lesson-tittle" placeholder="Enter Lesson Tittle" type="text" aria-describedby="tittle" />
                <span class="material-symbols-outlined">
                    title
                </span>
                <label for="lesson-tittle">Tittle</label>
            </div>
            <div class="video-details-input-container">
                <textarea id="lesson-description" name="lesson-description" placeholder="Enter Lesson Description"></textarea>
                <span class="material-symbols-outlined">
                    description
                </span>
                <label for="lesson-description">Description</label>
            </div>
        </form>
    </div>
