<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"] E LESSON</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="z-[1000] fixed top-0 flex h-20 w-full flex-row items-center justify-between bg-white p-2.5 shadow">
            <a asp-action="Index" asp-controller="Home">
                <div class="flex items-center justify-between px-2">
                    <img src="~/images/logo.svg" class="mr-3.5 size-6" />
                    <h1 class="font-sans text-xl font-bold">E-LESSON</h1>
                </div>
            </a>

            <div class="hidden md:flex md:items-center">
                <ul class="hidden md:flex md:flex-row md:items-center md:justify-center">
                    <li class="px-5"><a asp-action="Index" asp-controller="Home" active>Home</a></li>
                    <li class="px-5"><a asp-action="" asp-controller="">Lessons</a></li>
                    <li class="px-5"><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                    <li class="px-5"><a asp-action="Plans" asp-controller="Home">Plans</a></li>
                </ul>
            </div>

            <div class="hidden md:flex md:gap-x-3.5">
                <a asp-action="Login" asp-controller="Account" class="btn text-blue-700 outline outline-blue-700">Login</a>
                <a asp-action="Register" asp-controller="Account" class="btn bg-blue-700 text-white outline outline-white">SignUp</a>
            </div>

            <div class="flex items-center justify-center transition md:hidden" id="burger">
                <svg class="size-6" id="first" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg class="hidden size-6" id="second" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
        </nav>

        <div class="z-[900] fixed top-0 hidden w-full bg-white pt-20 md:hidden" id="menu">
            <ul>
                <li class="w-full"><a class="flex w-full justify-center py-3" asp-action="Index" asp-controller="Home" active>Home</a></li>
                <li class="w-full"><a class="flex w-full justify-center py-3" asp-action="" asp-controller="">Lessons</a></li>
                <li class="w-full"><a class="flex w-full justify-center py-3" asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                <li class="w-full"><a class="flex w-full justify-center py-3" asp-action="Plans" asp-controller="Home">Plans</a></li>
            </ul>
            <div class="mt-5 flex flex-col justify-center gap-y-3.5">
                <a class="mx-10 flex justify-center rounded-full border border-blue-500 p-2 font-bold" asp-action="Login" asp-controller="Account">Login</a>
                <a class="mx-10 my-2 flex justify-center rounded-full border border-blue-400 bg-blue-400 p-2 font-bold text-white" asp-action="Register" asp-controller="Account">Sign in</a>
            </div>
        </div>
    </header>

    <main role="main" class="w-full">

        @RenderBody()
    </main>

    <footer class="font-open-sans bottom-0 box-border bg-[#080F24] px-12 py-16 text-white lg:px-20">
        <div class="flex flex-col justify-center lg:flex-row">
            <div class="box-border flex w-full flex-col items-baseline gap-10 lg:flex-row lg:gap-40 lg:w-4/5">
                <div class="mb-10 flex flex-col lg:mb-0">
                    <h3 class="text-sm font-bold">Company</h3>
                    <ul class="mt-2 p-0">
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a class="">Our Products</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a class="">About Us</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a class="">Blogs</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a class="">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-10 flex flex-col lg:mb-0">
                    <h3 class="text-sm font-bold">
                        Make a difference
                    </h3>
                    <ul class="mt-2 p-0">
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a>Become an ambassodor</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a>Volunteer</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a>Sponser Us</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-10 flex flex-col lg:mb-0">
                    <h3 class="text-sm font-bold">Contact us</h3>
                    <ul class="mt-2 p-0">
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a>support@elesson.com</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a href="tel:+2348038357252">+234-803-835-7252</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a href="tel:+2347040672132">+234-704-067-2132</a>
                        </li>
                        <li class="mb-2 text-sm text-[#D4D4D4]">
                            <a>E-Lesson Institute, NDU Wilberforce Island</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-10 box-border flex w-full flex-col justify-center lg:w-1/2 lg:mt-0">
                <div class="mx-auto w-full rounded-md bg-[#F18337] p-5 lg:w-4/5">
                    <h3 class="mt-0 text-base text-[#2C1403]">Subscribe to our Newsletter</h3>
                    <form class="mt-2 block">
                        <input class="w-4/5 px-4 py-2 text-sm text-black" placeholder="Input your Full name" />
                        <input class="mt-2 w-4/5 px-4 py-2 text-sm text-black" placeholder="Input your email address" />
                        <button type="submit" class="mt-1 block rounded-r-md border border-[#080F24] bg-[#080F24] px-3 py-2">Subscribe</button>
                    </form>
                    <p class="my-2 text-sm text-[#230f01]">Get latest exciting updates!</p>
                </div>
            </div>
        </div>
        <hr class="my-5 border-t border-[#D4D4D4]" />
        <div class="mt-5 flex flex-col items-center justify-between lg:flex-row">
            <img src="~/images/logo.svg" alt="logo" class="mb-5 h-[42.083px] w-[97px] lg:mb-0" />
            <div class="mb-5 lg:mb-0">
                <ul class="flex gap-3 text-sm lg:gap-10">
                    <li>
                        Terms
                    </li>
                    <li>Privacy</li>
                    <li>
                        Copyright @@2024 E-LESSON INSTITUTE
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>