@{
    ViewData["Title"] = "Home Page";
}

<div class="pt-[80px] h-[100vh] flex min-h-screen w-full flex-col items-center justify-center px-6 md:flex-row sm:px-12 md:px-20">
    <div class="h-[50vh] align-center flex flex-col justify-center md:h-[100%] md:flex-[3]">
        <h1 class="text-[5vw] font-serif font-bold text-black sm:text-[3vw] md:text-[3.1vw] lg:text-[3.3vw]">
            Gain New Knowledge Everyday, Anytime and Anywhere
        </h1>
        <p class="my-5 font-sans text-sm font-light">
            100+ Lessons covering all Science and Health domains for you to learn and explore new oppurtunities. Learn from Academic Experts and get your Dream grade.
        </p>
        <div class="flex items-center justify-center">
            <a class="btn mr-3.5 outline outline-blue-400">Login</a>
            <a class="btn ml-3.5 outline outline-blue-300">SignUp</a>
        </div>
    </div>
    <div class="h-[50vh] flex-1 align-center flex justify-center md:[h-100%] md:flex-[4]">
        <img class="h-full md:h-[100vh]" src="~/images/heropic.svg" />
    </div>
</div>