@{
    ViewData["Title"] = "Home Page";
}

<div class="h-[100vh] px-[10%] pt-[80px] pb-[30px] flex flex-col items-center justify-center text-center md:flex-row md:px-[5%]">
    <div class="flex flex-auto flex-col items-center justify-center text-center md:flex-[3] md:text-left md:items-start">
        <h1 class="text-2xl font-bold sm:text-3xl md:text-5xl">
            Gain New Knowledge <br /> Every day, Anytime <br /> and Anywhere
        </h1>
        <p class="py-4">
            100+ Lessons covering all Science and Health domains for you to learn and explore new opportunities. Learn from Academic Experts and get your Dream grade.
        </p>
        <div class="mt-3 flex w-full items-center justify-center gap-x-6">
            <a class="btn inline-block text-center text-blue-700 outline outline-blue-700" asp-action="Login" asp-controller="Account">Login</a>
            <a class="btn inline-block bg-blue-700 p-8 text-center text-white outline outline-blue-700" asp-action="Register" asp-controller="Account">SignUp</a>
        </div>
    </div>
    <div class="flex-1 flex items-center justify-center md:flex-[4]">
        <img class="" src="~/images/heropic.svg" />
    </div>
</div>
<div class="px-[5%] py-[100px] flex w-full flex-col items-stretch justify-center gap-11 bg-blue-300 md:flex-row">
    <div class="flex-1 card w-full flex-col items-center justify-center p-8 text-center">
        <h2 class="font-primary border-2 mb-3 border-double border-white bg-white text-2xl font-bold text-violet-900">Our Courses</h2>
        <ul class="m-2 divide-y divide-slate-200 text-blue-900">
            <li class="py-2 text-sm">Chemistry</li>
            <li class="py-2 text-sm"> Physics</li>
            <li class="py-2 text-sm">Mathematics</li>
            <li class="py-2 text-sm">Pharmaceutical Chemistry</li>
            <li class="py-2 text-sm">Biochemistry</li>
            <li class="py-2 text-sm">Human Anatomy</li>
            <li class="py-2 text-sm">Human Physiology</li>
        </ul>
    </div>
    <div class="flex-1 card w-full flex-col items-center justify-center p-8 text-center">
        <h2 class="font-primary border-2 mb-3 border-double border-white bg-white text-2xl font-bold text-violet-900">Our Materials</h2>
        <ol class="m-2 divide-y divide-slate-200 text-blue-900">
            <li class="py-2 text-sm">Chemistry 101 Sure Success</li>
            <li class="py-2 text-sm">Physics 101 Sure Success</li>
            <li class="py-2 text-sm">Maths 101 Sure Success</li>
            <li class="py-2 text-sm">Chemistry 102 Sure Success</li>
            <li class="py-2 text-sm">Physics 102 Sure Success</li>
            <li class="py-2 text-sm">Maths 102 Sure Success</li>
        </ol>
    </div>
</div>

<div class="flex flex-col items-center space-y-20 py-20">
    <h2 class="w-3/4 text-center text-3xl font-semibold text-blue-950 lg:text-6xl lg:w-2/4">
        Sure Exam Success
        <span class="text-[#f18337]">for you</span>
          !
    </h2>
  
    <iframe class="h-[200px] w-4/5 lg:w-4/5 lg:h-[530px]" src="https://www.youtube-nocookie.com/embed/y2KsRhTW0bs?si=q5cG919UNmg51VzC&amp;controls=0" title="Welcome to E-Lesson" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>