@{
    ViewData["Title"] = "Home Page";
}

<div class="h-[100vh] px-[10%] pt-[80px] pb-[30px] flex flex-col items-center justify-center text-center md:flex-row md:px-[5%]">
    <div class="flex flex-auto flex-col items-center justify-center text-center md:flex-[3] md:text-left md:items-start">
        <h1 class="text-2xl font-bold sm:text-3xl md:text-5xl">
            Gain New Knowledge <br /> Everyday, Anytime <br /> and Anywhere
        </h1>
        <p class="py-4">
            100+ Lessons covering all Science and Health domains for you to learn and explore new oppurtunities. Learn from Academic Experts and get your Dream grade.
        </p>
        <div class="mt-3 flex w-full items-center justify-center gap-x-6">
            <a class="btn inline-block text-center text-blue-700 outline outline-blue-700" asp-action="Login" asp-controller="Account">Login</a>
            <a class="btn inline-block bg-blue-700 p-8 text-center text-white outline outline-blue-700" asp-action="Register" asp-controller="Account">SignUp</a>
        </div>
    </div>
    <div class="flex-1 flex items-center justify-center md:flex-[4]">
        <img class="" src="~/images/heropic.svg" />
    </div>
</div>
<div class="px-[5%] py-[100px] flex w-full flex-col items-stretch justify-center gap-11 bg-blue-300 md:flex-row">
    <div class="flex-1 card w-full flex-col items-center justify-center p-8 text-center">
        <h2 class="font-primary border-2 mb-3 border-double border-white bg-white text-2xl font-bold text-violet-900">Our Courses</h2>
        <ul class="m-2 divide-y divide-slate-200 text-blue-900">
            <li class="py-2 text-sm">Chemistry</li>
            <li class="py-2 text-sm"> Physics</li>
            <li class="py-2 text-sm">Mathematics</li>
            <li class="py-2 text-sm">Pharmaceutical Chemistry</li>
            <li class="py-2 text-sm">Biochemistry</li>
            <li class="py-2 text-sm">Human Anatomy</li>
            <li class="py-2 text-sm">Human Physiology</li>
        </ul>
    </div>
    <div class="flex-1 card w-full flex-col items-center justify-center p-8 text-center">
        <h2 class="font-primary border-2 mb-3 border-double border-white bg-white text-2xl font-bold text-violet-900">Our Materials</h2>
        <ol class="m-2 divide-y divide-slate-200 text-blue-900">
            <li class="py-2 text-sm">Chemistry 101 Sure Success</li>
            <li class="py-2 text-sm">Physics 101 Sure Success</li>
            <li class="py-2 text-sm">Maths 101 Sure Success</li>
            <li class="py-2 text-sm">Chemistry 102 Sure Success</li>
            <li class="py-2 text-sm">Physics 102 Sure Success</li>
            <li class="py-2 text-sm">Maths 102 Sure Success</li>
        </ol>
    </div>
</div>

<div class="py-[100px] px-[5%] flex w-full items-stretch justify-center gap-16 bg-black">
    <div class="flex items-center justify-center">
        <h3 class="font-mono text-3xl text-white">Our Youtube Channel</h3>
    </div>
    <div class="flex items-center justify-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fqDlVO00bm8?si=F4rBco0zhxLRoIeN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>