@{
    ViewData["Title"] = "Home Page";
}

<div class="h-[100vh] px-[10%] pt-[80px] pb-[30px] flex flex-col items-center justify-center text-center md:flex-row md:px-[5%]">
    <div class="flex flex-auto flex-col items-center justify-center text-center md:flex-[3] md:text-left md:items-start">
        <h1 class="text-2xl font-bold md:text-3xl">
            Gain New Knowledge <br /> Everyday, Anytime <br /> and Anywhere
        </h1>
        <p class="py-4">
            100+ Lessons covering all Science and Health domains for you to learn and explore new oppurtunities. Learn from Academic Experts and get your Dream grade.
        </p>
        <div class="flex items-center justify-center">
            <a class="btn mr-3.5 inline-block outline outline-blue-400">Login</a>
            <a class="btn inline-block outline outline-blue-300">SignUp</a>
        </div>
    </div>

    <div class="flex-1 flex items-center justify-center md:flex-[4]">
        <img class="" src="~/images/heropic.svg" />
    </div>
</div>
<div class="px-[5%] py-[70px] flex flex-col items-center justify-center bg-amber-50 md:flex-row">
    <div>
        <h2>Our Courses</h2>
        <ul>
            <li>MTH 101</li>
            <li>
                PHY 101
            </li>
            <li>CHM 101</li>
            <li></li>
        </ul>
    </div>
    <div>
        <h2>Our Materials</h2>
    </div>
</div> 