@{
    ViewData["Title"] = "Home Page";
}

<div class="hero w-full">
    <div class="flex flex-col">
        <h1>
            Gain New Knowledge
            Everyday, Anytime and Anywhere
        </h1>
        <p>
            100+ Lessons covering all Science and Health domains for you to learn and explore new oppurtunities. Learn from Academic Experts and get your Dream grade.
        </p>
        <div class="flex">
            <a class="btn">Start Trial</a>
            <a class="btn">How It Works</a>
        </div>
    </div>
    <div>
        <img />
    </div>
</div>