@{
    ViewData["Title"] = "Plans";
}

<div class="w-[100vw] h- flex flex-col">
    <div class="flex">
        <h2 class="text-center text-xl text-purple-950">Level up your learning. Level up your grades</h2>
        <h3>Our Subscriptions</h3>
    </div>
    <div class="flex">
        <div class="flex-1">
            <h4>Free</h4>
            <div>
                <h3>&#8358;0.00</h3>
            </div>

            <button class="btn btn-primary">Get Started</button>

            <ul>
                <li>
                    Access to YouTube Channel
                </li>
                <li>
                    Access to Free videos
                </li>
            </ul>
        </div>
        <div class="flex-1">
            <h4>Standard</h4>
            <div>
                <h3>&#8358;2000</h3>
            </div>
            <button>Get Started</button>
            <ul>
                <li>
                    Access to YouTube Channel
                </li>
                <li>
                    Access to all Lecture Video
                </li>
                <li>
                    Access to physical class
                </li>
            </ul>
        </div>
        <div class="flex-1">
            <h4>Premium</h4>
            <div>
                <h3>&#8358;5000</h3>
            </div>
            <button>Get Started</button>
            <ul>
                <li>
                    Access to YouTube Channel
                </li>
                <li>
                    Access to all Lecture Video
                </li>
                <li>
                    Access to physical class
                </li>
                <li>
                    Access to private tutorials
                </li>
            </ul>
        </div>
    </div>
</div>