@{
    ViewData["Title"] = "Plans";
}

<div>
    <div>
        <h2>Level up your learning. Level up your grades</h2>
    </div>
    <div>
        <div>
            <h4>Free</h4>
            <div>
                <h3>&#8358;0.00</h3>
            </div>
            <button>Get Started</button>

            <ul>
                <li>
                    Access to
                </li>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <h4>Standard</h4>
            <div>
                <h3>&#8358;2000</h3>
            </div>
            <button>Get Started</button>
            <ul>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <h4>Premium</h4>
        </div>
    </div>
</div>