@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL,ROND@0..1,100&icon_names=dashboard,menu_open&display=block"/> *@
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=analytics,animated_images,dashboard,forum,menu_open,movie_edit,search,settings,vr180_create2d" rel="stylesheet" />
</head>
<body class="font-primary min-h-svh overflow-auto">
    <!--Header-->
    <partial name="Partials/_HeaderPartial.cshtml" />
    <!--Main Body-->
    <div class="flex h-full w-full">
        <!--Side Bar-->
        <partial name="Partials/_SidabarPartial.cshtml" />
        <!--Main Content-->
        <main role="main" class="flex-1 overflow-y-auto bg-accent_lightestGray p-4">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/instructor.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>