@using e_learning.ViewModels;
@{
    var instructorDetails = Context.Items["UserDetails"] as LayoutsViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"] </title>
    </head>
<body class="font-primary min-h-svh overflow-auto">

    <!--Header-->
    <partial name="Partials/_HeaderPartial.cshtml" />
    <!--Main Body-->
    <div class="flex h-full w-full">
        <!--Side Bar-->
        <partial name="Partials/_SidabarPartial.cshtml" model="@instructorDetails" />

        <!--Main Content-->
        <main role="main" class="flex-1 overflow-y-auto bg-accent_lightestGray p-4">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/Shared/Partials/_ToastContainerPartial.cshtml" />
    <script type="module" defer src="~/js/instructor.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>