@model e_learning.DataTransfersObjects.InstructorDto

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4 text-xl font-bold text-blue-800">Dashboard</h1>
<div class="inr_dashboard_container flex h-full w-full flex-col gap-4 md:justify-between md:flex-row">
    <secion class="h-[30rem] w-full rounded-3xl border border-dark_gray md:w-[20rem]"></secion>
    <secion class="h-[22rem] w-full rounded-3xl border border-dashed border-dark_gray md:w-[24rem]"></secion>
    <secion class="h-[24rem] w-full rounded-3xl border border-dark_gray md:w-[25rem]"></secion>
</div>

