@model List<e_learning.DataTransfersObjects.LessonDto>

@{
    Layout = "_InstructorLayout";
    ViewData["Title"] = "My Lessons";

}

@if (Model != null && Model.Count == 0)
{
<div class="flex h-full w-full items-center justify-center">
    <p class="animate-pulse text-xl font-bold text-blue-600">You Currently Have No Lessons!</p>
    </div>
}

@if (Model == null)
{

<div class="flex h-full w-full items-center justify-center">
    <p class="animate-pulse text-xl font-bold text-red-600">Error occured while fetching your lessons!</p>
</div>
}
else
{
<div class="flex flex-col gap-4 md:flex-row">

@foreach (var lesson in Model)
        {
    <div class="w-[1rem] h-[1rem] flex flex-col">
        <div>

            <p>e</p>
        </div>
        <div class="h-full w-full">
            <video id="video" class="h-full w-full" control controls>
                <source src="@Url.Action(" PlayVideo","Lesson", new {videoId=lesson.LessonId} )" type="video/mp4">
            </video>
        </div>
        <p>n</p>
    </div>

}
</div>
}

<script src="~/js/video.js"></script>