@model e_learning.DataTransfersObjects.InstructorDto

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4 text-xl font-bold text-blue-800">Dashboard</h1>
<div class="inr_dashboard_container flex h-full w-full flex-col gap-4 md:flex-row">
    <secion class="h-[30rem] rounded-3xl border border-dark_gray p-4 md:w-[20rem]">
        <h1 class="text-dark_gray">Recent Metrics</h1>
        <div class="flex h-full w-full flex-col items-center justify-center">
            <img class="" src="~/images/upload_container.png" />
            <p class="text-center text-accent_lightGray">Want to see performance on your latest lessson? </p>
            <p class="text-center text-accent_lightGray">Upload and Publish a video to get started</p>
            <button class="mt-2 rounded-3xl bg-accent px-2 py-1 text-white hover:bg-black"> Upload Lesson</button>
        </div>
    </secion>
    <secion class="h-[24rem] w-full rounded-3xl border border-dashed border-dark_gray p-4 md:w-[24rem]">
        <h1 class="text-dark_gray">Hub Performance</h1>
        <div class="mt-2">
            <p class="text-sm text-accent_lightGray">Current Videos</p>
            <p class="text-2xl font-bold text-accent">@Model.InstructorLessons.Count()</p>
            <p class="mt-2 text-sm text-accent_lightGray">Current Playlists</p>
            <p class="text-2xl font-bold text-accent">0</p>
            <hr class="border-t-2 my-4 border-accent_lightGray" />
            <p>Summary</p>
            <p class="text-sm text-accent_lightGray">Lasy 7 Days</p>
            <p class="text-sm">Views</p>
            <hr class="border-t-2 my-4 border-accent_lightGray" />
            <p class="text-sm">Top Video</p>
            <button class="mt-2 rounded-3xl bg-accent px-2 py-1 text-center text-sm text-white hover:bg-black"> Go to Analytics</button>

        </div>
    </secion>
    <secion class="h-[21rem] w-full rounded-3xl border border-dark_gray p-4 md:w-[25rem]">
        <h1>Subscription Metrics</h1>
        <p class="text-sm text-accent_lightGray">Current Subscribers</p>
        <p class="text-2xl font-bold text-accent">0</p>
        <p class="text-sm text-accent_lightGray">Unsubscribed</p>
        <p class="text-2xl font-bold text-accent">0</p>
        <hr class="border-t-2 my-4 border-accent_lightGray" />
        <p>Summary</p>
        <p class="text-sm text-accent_lightGray">Lasy 7 Days</p>
        <p class="text-sm">New Subscriptions</p>
        <hr class="border-t-2 my-4 border-accent_lightGray" />
        <button class="mt-1 rounded-3xl bg-accent px-2 py-1 text-center text-sm text-white hover:bg-black"> Go to Earnings</button>
    </secion>
</div>

