
@model e_learning.Views.Instructor.ViewModels.StudioViewModel
@{
    ViewData["Title"] = "Studio";
}

<div class="inr_studio h-full w-full">

    <nav class="inr_studio-nav flex gap-2">
        <div  class="w-fit cursor-pointer border p-2 @(Model.ActiveView=="lesson"?"text-accent bg-white shadow-md":"")">Upload Video</div>
        <div class="w-fit cursor-pointer border p-2 text-accent_lightGray">Create Series</div>
        
    </nav>
    <!--Form Section-->
    <div class="@(Model.ActiveView=="lesson" ?"":"hidden") mt-2 h-full w-full">
        <partial name="Partials/_UploadLessonPartial" />
    </div>

</div>