.sidebar-menu-icon {
    font-size: 26px !important;
}

.sidebar-list-item {
    @apply relative w-full;
}
    .sidebar-list-item.active {
        @apply bg-accent_lightestGray;
    }

        .sidebar-list-item.active .sidebar-link-text {
            @apply font-bold text-accent;
        }

        .sidebar-list-item.active::before {
            content: "";
            @apply absolute left-0 h-full w-[5px] bg-accent;
        }

    .sidebar-list-item:hover {
        @apply bg-accent_lightestGray;
    }

    .sidebar-list-item.active .custom-icon-class {
        font-variation-settings: "FILL" 1;
        @apply text-accent;
    }

.sidebar-link {
    @apply flex w-full cursor-pointer items-center justify-center gap-4 py-[.5rem];
}

.custom-icon-class {
    font-size: 26px !important;
    @apply text-accent_lightGray;
    padding: 0 !important;
    margin: 0 !important;
}

.sidebar-profile-image {
    @apply size-[30px];
    transition: var(--animation-duration) var(--animation-timing-curve);
}


.sidebar-menu {
    transition: width var(--animation-duration) var(--animation-timing-curve);
}

    .sidebar-menu .hidden-sidebar {
        width: 0;
        opacity: 0;
        transition: opacity var(--animation-duration) var(--animation-timing-curve);
    }

    .sidebar-menu.sidebar-open .hidden-sidebar {
        width: 100%;
        opacity: 1
    }

    .sidebar-menu .sidebar-top {
        height: 2rem;
        transition: height var(--animation-duration) var(--animation-timing-curve);
    }

    .sidebar-menu.sidebar-open .sidebar-top {
        height: 12rem;
    }

    .sidebar-menu.sidebar-open {
        @apply fixed w-[12rem] md:sticky md:w-[15rem];
    }

.sidebar-menu.sidebar-open .sidebar-mobile-overlay {
    @apply flex md:hidden;
}

.sidebar-menu.sidebar-open .sidebar-profile-image {
    @apply size-[100px];
}

.sidebar-menu .sidebar-link {
    @apply justify-start pl-[1.3rem];
}

.sidebar-menu .sidebar-top .hidden-sidebar {
    width: 100%;
}

.sidebar-mobile-overlay {
    @apply hidden;
    opacity: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar-menu.sidebar-open ~ .sidebar-mobile-overlay {
    @apply block md:hidden;
    opacity: 0.7;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}
