@using e_learning.ViewModels;

@{
    var learnerDetails = Context.Items["UserDetails"] as LayoutsViewModel;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
   
</head>
<body class="font-primary min-h-svh overflow-auto">
    <partial name="Partials/_HeaderPartial.cshtml" />
    <div class="flex h-full w-full">
        <!--Side Bar-->
        <partial name="Partials/_SidebarPartial.cshtml" model="@learnerDetails" />
        <!--Main Content-->
        <main role="main" class="flex-1 h-full overflow-y-auto bg-accent_lightestGray p-4">
            @RenderBody()
        </main>
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>