@{
    Layout = "_LearnerLayout";
    ViewData["Title"] = "Instructor";
}

<div class="h-full w-full">
    <div class="m-4">
        <h3 class="text-3xl font-bold text-gray-700">Quick Picks</h3>
        <div class="flex gap-2.5 overflow-x-auto p-4">
            <a><div class="card p-4">Mathematics</div></a>
            <a><div class="card p-4">Chemistry</div></a>
            <a><div class="card p-4">BioChemistry</div></a>
            <a><div class="card p-4">Pharmaceutical Chemistry</div></a>
            <a><div class="card p-4">Human Anatomy</div></a>
            <a><div class="card p-4">Human Physiology</div></a>
        </div>
    </div>

    <div class="m-4">
        <h3 class="border-b-4 mb-4 text-3xl font-bold text-gray-700">Our Courses</h3>
        <div class="card mt-2 flex flex-wrap items-center justify-center gap-5">

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/biochem.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">BioChemisrty</li>
                        <li class="text-sm">Biochemistry explores chemical processes related to living organisms. It is a laboratory-based science combining biology and chemistry</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/chem.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Chemisrty</li>
                        <li class="text-sm">Chemistry is a branch of natural science that deals principally with the properties of substances, the changes they undergo, and the natural laws that describe these changes.</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/physics.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Physics</li>
                        <li class="text-sm">Chemistry is a branch of natural science that deals principally with the properties of substances, the changes they undergo, and the natural laws that describe these changes.</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/math.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Mathematics</li>
                        <li class="text-sm">Mathematics is a subject of numbers, shapes, data, measurements and also logical activities. It has a huge scope in every field of our life, such as medicine, engineering, finance.</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/pharmchem.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Pharmaceutical Chemistry</li>
                        <li class="text-sm"> </li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/anat.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Human Anatomy</li>
                        <li class="text-sm"> </li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card-box">
                <div class="imgBox">
                    <img src="~/images/physio.jpeg" alt="">
                </div>
                <div class="content">
                    <span class="price text-center">
                        <a href="#">FREE</a>
                    </span>

                    <ul class="">
                        <li class="text-2xl">Human Physiology</li>
                        <li class="text-sm"> </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>