@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.card {
    @apply relative overflow-hidden rounded bg-blue-200 shadow-md;
}

.btn {
    @apply cursor-pointer rounded-full px-3 py-2 text-sm font-bold tracking-wider;
}

.glitch {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.glitch img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.glitch::before,
.glitch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Reddish color with transparency */
    opacity: 0.8;
    clip: rect(0, auto, auto, 0); /* Cover the entire parent */
}

.glitch::before {
    animation: glitch-anim 2s infinite;
}

.glitch::after {
    animation: glitch-anim 2s infinite;
    animation-delay: 1s; /* Delay the second animation for a staggered effect */
}

@keyframes glitch-anim {
    0% {
        clip: rect(10px, 9999px, 50px, 0);
        transform: skew(0.5deg) translate(2px, -2px);
    }

    20% {
        clip: rect(60px, 9999px, 80px, 0);
        transform: skew(-0.5deg) translate(-3px, 2px);
    }

    40% {
        clip: rect(30px, 9999px, 60px, 0);
        transform: skew(0.3deg) translate(2px, 1px);
    }

    60% {
        clip: rect(50px, 9999px, 100px, 0);
        transform: skew(-0.3deg) translate(-1px, -1px);
    }

    80% {
        clip: rect(20px, 9999px, 70px, 0);
        transform: skew(0.2deg) translate(1px, -3px);
    }

    100% {
        clip: rect(40px, 9999px, 90px, 0);
        transform: skew(-0.2deg) translate(-2px, 3px);
    }
}
