@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "leaner/leaner.css";
@import "layouts/layout.css";
@import "components/component.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animation-duration: 300ms;
    --animation-timing-curve: ease-in-out;
    --test-color: red;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

*, *::before, *::after {
    /*font-family: 'Nunito', sans-serif;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.card {
    @apply relative overflow-hidden rounded shadow-md;
}

.btn {
    @apply cursor-pointer px-3 py-2 text-sm font-bold tracking-wider;
}

.searchbar {
    @apply absolute left-20 top-16;
}

.default-searchbar {
    @apply relative m-auto hidden;
}


.loading__overlay--animation {
    animation: moveSideToSide 2s infinite ease-in-out;
}

@keyframes moveSideToSide {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
        transform: rotate(360deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }
}



.dragover {
    @apply bg-gray-200;
}

.selected-files-list-item {
    @apply flex justify-evenly gap-4 bg-gray-100 p-2;
}

    .selected-files-list-item > p {
        @apply w-3/4 break-words;
    }

    .selected-files-list-item > button span {
        @apply hover:text-accent;
    }

.video-details-input-container {
    @apply border-2 relative inset-2 flex h-fit w-full rounded-md border-accent_lightGray;
}
.video-details-input-container.input-error {
    @apply border-red-600;
}
  
.video-details-input-label {
    @apply absolute bg-accent_lightestGray px-2 font-bold text-accent;
}

.video-details-input-icons {
    @apply absolute text-accent_lightGray;
}

.select-thumbnail-icon {
    font-size: 7rem !important;
    margin-left: -.5rem !important;
    @apply w-fit cursor-pointer text-accent_lightGray hover:text-accent;
}

.uploading-contianer-visible {
    @apply items-center justify-center self-center md:w-1/2;
}

.uploading-contianer-visible-width {
    @apply lg:w-3/4;
}

.files-uploading-list-item {
    @apply flex w-full flex-col gap-2 bg-gray-100 p-2;
}

.file-uploading-name {
    @apply w-3/4 break-words;
}

.file-uploading-list-section {
    @apply flex w-full items-center justify-between gap-4;
}

.file-upload-progress-container {
    @apply flex w-full flex-col gap-2;
}

.file-uploading-progress {
    @apply flex-1 h-[1rem] w-full rounded-md border border-[#F18337];
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    .file-uploading-progress::-webkit-progress-bar {
        @apply flex-1 h-[1rem] w-full rounded-md border border-[#F18337];
        
        
    }

    .file-uploading-progress::-webkit-progress-value {
        @apply rounded-md bg-accent;
    }

.file-upload-progress-text {
    @apply text-sm font-bold text-[#F18337];
}

.file-uploading-cancel-button {
    @apply self-start;
}

.uploaded-check-icon {
    @apply font-bold text-green-600;
}

.complete-video-details-button {
    @apply cursor-pointer bg-black text-white hover:bg-white hover:text-accent;
}

    .complete-video-details-button.disabled {
        @apply cursor-none bg-gray-100 text-gray-400 hover:bg-gray-100;
    }


.toast-line-error{
    @apply border-red-600;
}
.toast-line-success{
    @apply border-green-600;
}
.toast-icon-error{
    @apply text-red-600;
}
.toast-icon-success{
    @apply text-green-600;
}
.toast-message-error{
    @apply text-red-600;
}
.toast-message-success{
    @apply text-green-600;
}

@keyframes toastLine{
    from {
        @apply w-full;
    }
    to {
        @apply w-0;   
    }
}

@keyframes toastFadeIn {
    0% {
        right: -100%; /* Off-screen to the left */
        opacity: 0.5; /* Fully transparent */
    }

    100% {
        right: 0; /* Move to the left edge of the container */
        opacity: 1; /* Fully opaque */
    }
}

@keyframes toastFadeOut {
    0% {
        right:0; /* Off-screen to the left */
        opacity: 1; /* Fully transparent */
    }

    100% {
        right: -100%; /* Move to the left edge of the container */
        opacity: 0.5; /* Fully opaque */
    }
}

.toastIn {
    @apply animate-[toastFadeIn_1s_linear_forwards];
}

.toastOut {
    @apply animate-[toastFadeOut_1s_linear_forwards];
}

.inr-active-studio-view-button {
    @apply disabled bg-white text-accent shadow-md;
}
.inr-inactive-studio-view-button {
    @apply text-accent_lightGray;
}

