@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animation-duration: 300ms;
    --animation-timing-curve: ease-in-out;
    --test-color: red;
}

/*html {
    position: relative;
    min-height: 100%;
}*/

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    @apply relative overflow-hidden rounded shadow-md;
}

.btn {
    @apply cursor-pointer rounded-full px-3 py-2 text-sm font-bold tracking-wider;
}

.glitch {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .glitch img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }

    .glitch::before,
    .glitch::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/error-404-monochrome.svg");
        clip: rect(0, auto, auto, 0);
    }

    .glitch::before {
        animation: glitch 2s infinite linear alternate-reverse;
    }

    .glitch::after {
        animation: glitch 2s infinite linear alternate-reverse;
        left: 2px;
        text-shadow: -1px 0 red;
        opacity: 0.8;
    }

@keyframes glitch {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.5deg);
    }

    10% {
        clip: rect(12px, 9999px, 14px, 0);
        transform: translate(5px, -3px);
    }

    20% {
        clip: rect(72px, 9999px, 74px, 0);
        transform: scale(1.02);
    }

    30% {
        clip: rect(52px, 9999px, 54px, 0);
        transform: translate(-3px, 2px);
    }

    40% {
        clip: rect(32px, 9999px, 34px, 0);
        transform: skew(-0.5deg);
    }

    50% {
        clip: rect(92px, 9999px, 94px, 0);
        transform: scale(0.98);
    }

    60% {
        clip: rect(22px, 9999px, 24px, 0);
        transform: translate(3px, -2px);
    }

    70% {
        clip: rect(82px, 9999px, 84px, 0);
        transform: skew(0.7deg);
    }

    80% {
        clip: rect(62px, 9999px, 64px, 0);
        transform: translate(-5px, 3px);
    }

    90% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: scale(1.05);
    }

    100% {
        clip: rect(12px, 9999px, 14px, 0);
        transform: skew(-0.3deg);
    }
}

.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

@keyframes noise-anim {
    0% {
        clip: rect(49px, 9999px, 40px, 0);
    }

    5% {
        clip: rect(75px, 9999px, 72px, 0);
    }

    10% {
        clip: rect(97px, 9999px, 93px, 0);
    }

    15% {
        clip: rect(15px, 9999px, 9px, 0);
    }

    20% {
        clip: rect(14px, 9999px, 92px, 0);
    }

    25% {
        clip: rect(18px, 9999px, 94px, 0);
    }

    30% {
        clip: rect(17px, 9999px, 20px, 0);
    }

    35% {
        clip: rect(71px, 9999px, 59px, 0);
    }

    40% {
        clip: rect(42px, 9999px, 84px, 0);
    }

    45% {
        clip: rect(56px, 9999px, 25px, 0);
    }

    50% {
        clip: rect(46px, 9999px, 14px, 0);
    }

    55% {
        clip: rect(47px, 9999px, 1px, 0);
    }

    60% {
        clip: rect(64px, 9999px, 58px, 0);
    }

    65% {
        clip: rect(89px, 9999px, 92px, 0);
    }

    70% {
        clip: rect(56px, 9999px, 39px, 0);
    }

    75% {
        clip: rect(80px, 9999px, 71px, 0);
    }

    80% {
        clip: rect(8px, 9999px, 13px, 0);
    }

    85% {
        clip: rect(66px, 9999px, 68px, 0);
    }

    90% {
        clip: rect(68px, 9999px, 4px, 0);
    }

    95% {
        clip: rect(56px, 9999px, 14px, 0);
    }

    100% {
        clip: rect(28px, 9999px, 53px, 0);
    }
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(49px, 9999px, 40px, 0);
    }

    5% {
        clip: rect(75px, 9999px, 72px, 0);
    }

    10% {
        clip: rect(97px, 9999px, 93px, 0);
    }

    15% {
        clip: rect(15px, 9999px, 9px, 0);
    }

    20% {
        clip: rect(14px, 9999px, 92px, 0);
    }

    25% {
        clip: rect(18px, 9999px, 94px, 0);
    }

    30% {
        clip: rect(17px, 9999px, 20px, 0);
    }

    35% {
        clip: rect(71px, 9999px, 59px, 0);
    }

    40% {
        clip: rect(42px, 9999px, 84px, 0);
    }

    45% {
        clip: rect(56px, 9999px, 25px, 0);
    }

    50% {
        clip: rect(46px, 9999px, 14px, 0);
    }

    55% {
        clip: rect(47px, 9999px, 1px, 0);
    }

    60% {
        clip: rect(64px, 9999px, 58px, 0);
    }

    65% {
        clip: rect(89px, 9999px, 92px, 0);
    }

    70% {
        clip: rect(56px, 9999px, 39px, 0);
    }

    75% {
        clip: rect(80px, 9999px, 71px, 0);
    }

    80% {
        clip: rect(8px, 9999px, 13px, 0);
    }

    85% {
        clip: rect(66px, 9999px, 68px, 0);
    }

    90% {
        clip: rect(68px, 9999px, 4px, 0);
    }

    95% {
        clip: rect(56px, 9999px, 14px, 0);
    }

    100% {
        clip: rect(28px, 9999px, 53px, 0);
    }
}

.error::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(16px, 9999px, 10px, 0);
    }

    5% {
        clip: rect(22px, 9999px, 29px, 0);
    }

    10% {
        clip: rect(6px, 9999px, 68px, 0);
    }

    15% {
        clip: rect(85px, 9999px, 95px, 0);
    }

    20% {
        clip: rect(65px, 9999px, 91px, 0);
    }

    25% {
        clip: rect(93px, 9999px, 68px, 0);
    }

    30% {
        clip: rect(10px, 9999px, 27px, 0);
    }

    35% {
        clip: rect(37px, 9999px, 25px, 0);
    }

    40% {
        clip: rect(12px, 9999px, 23px, 0);
    }

    45% {
        clip: rect(40px, 9999px, 18px, 0);
    }

    50% {
        clip: rect(19px, 9999px, 71px, 0);
    }

    55% {
        clip: rect(2px, 9999px, 35px, 0);
    }

    60% {
        clip: rect(16px, 9999px, 69px, 0);
    }

    65% {
        clip: rect(8px, 9999px, 65px, 0);
    }

    70% {
        clip: rect(30px, 9999px, 57px, 0);
    }

    75% {
        clip: rect(14px, 9999px, 4px, 0);
    }

    80% {
        clip: rect(39px, 9999px, 30px, 0);
    }

    85% {
        clip: rect(22px, 9999px, 35px, 0);
    }

    90% {
        clip: rect(58px, 9999px, 71px, 0);
    }

    95% {
        clip: rect(34px, 9999px, 90px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 68px, 0);
    }
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(16px, 9999px, 10px, 0);
    }

    5% {
        clip: rect(22px, 9999px, 29px, 0);
    }

    10% {
        clip: rect(6px, 9999px, 68px, 0);
    }

    15% {
        clip: rect(85px, 9999px, 95px, 0);
    }

    20% {
        clip: rect(65px, 9999px, 91px, 0);
    }

    25% {
        clip: rect(93px, 9999px, 68px, 0);
    }

    30% {
        clip: rect(10px, 9999px, 27px, 0);
    }

    35% {
        clip: rect(37px, 9999px, 25px, 0);
    }

    40% {
        clip: rect(12px, 9999px, 23px, 0);
    }

    45% {
        clip: rect(40px, 9999px, 18px, 0);
    }

    50% {
        clip: rect(19px, 9999px, 71px, 0);
    }

    55% {
        clip: rect(2px, 9999px, 35px, 0);
    }

    60% {
        clip: rect(16px, 9999px, 69px, 0);
    }

    65% {
        clip: rect(8px, 9999px, 65px, 0);
    }

    70% {
        clip: rect(30px, 9999px, 57px, 0);
    }

    75% {
        clip: rect(14px, 9999px, 4px, 0);
    }

    80% {
        clip: rect(39px, 9999px, 30px, 0);
    }

    85% {
        clip: rect(22px, 9999px, 35px, 0);
    }

    90% {
        clip: rect(58px, 9999px, 71px, 0);
    }

    95% {
        clip: rect(34px, 9999px, 90px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 68px, 0);
    }
}

.error::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.loading__overlay--animation {
    animation: moveSideToSide 2s infinite ease-in-out;
}

@keyframes moveSideToSide {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
        transform: rotate(360deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

.inr_sidebar-menu-icon {
    font-size: 26px !important;
}

.inr_sidebar-list-item {
    @apply relative w-full;
}

    .inr_sidebar-list-item.active {
        @apply bg-accent_lightestGray;
    }

        .inr_sidebar-list-item.active .inr_sidebar-link-text {
            @apply font-bold text-accent;
        }

        .inr_sidebar-list-item.active::before {
            content: "";
            @apply absolute left-0 h-full w-[5px] bg-accent;
        }

    .inr_sidebar-list-item:hover {
        @apply bg-accent_lightestGray;
    }

    .inr_sidebar-list-item.active .inr_custom-icon-class {
        font-variation-settings: "FILL" 1;
        @apply text-accent;
    }

.inr_sidebar-link {
    @apply flex w-full cursor-pointer items-center justify-center gap-4 py-[.5rem];
}

.inr_custom-icon-class {
    font-size: 26px !important;
    @apply text-accent_lightGray;
    padding: 0 !important;
    margin: 0 !important;
}

.inr_sidebar-profile-image {
    @apply size-[30px];
    transition: var(--animation-duration) var(--animation-timing-curve);
}

/*.inr_sidebar-top-text {
    @apply hidden;
}*/

.inr_sidebar-menu {
    transition: width var(--animation-duration) var(--animation-timing-curve);
}

    .inr_sidebar-menu .hidden-sidebar {
        width: 0;
        opacity: 0;
        transition: opacity var(--animation-duration) var(--animation-timing-curve);
    }

    .inr_sidebar-menu.sidebar-open .hidden-sidebar {
        width: 100%;
        opacity: 1
    }

    .inr_sidebar-menu .inr_sidebar-top {
        height: 2rem;
        transition: height var(--animation-duration) var(--animation-timing-curve);
    }

    .inr_sidebar-menu.sidebar-open .inr_sidebar-top {
        height: 10rem;
    }

    .inr_sidebar-menu.sidebar-open {
        @apply fixed w-[12rem] md:sticky md:w-[15rem];
    }
inr_sidebar-menu.sidebar-open .inr_sidebar-mobile-overlay {
    @apply flex md:hidden;
}


.inr_sidebar-menu.sidebar-open .inr_sidebar-profile-image {
    @apply size-[100px];
}


    .inr_sidebar-menu .inr_sidebar-link {
        @apply justify-start pl-[1.3rem];
    }

    .inr_sidebar-menu .inr_sidebar-top .hidden-sidebar {
        width: 100%;
    }
/*main {
    margin-left:0;
    transition: all var(--animation-duration) ease-in-out;
}

.inr_sidebar-menu.sidebar-open ~ main {
    @apply ml-[4rem] md:ml-0;
    
}*/

.inr_sidebar-mobile-overlay {
    @apply hidden;
    opacity: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.inr_sidebar-menu.sidebar-open ~ .inr_sidebar-mobile-overlay {
    @apply block md:hidden;
    opacity: 0.7; 
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}


