




 
    
    <template data-toast-template>
            <div data-toast-container class="z-40 fixed right-[1rem] top-[2rem] flex h-24 w-24 flex-col bg-red-600">
                <div data-toast-message-container class="flex h-full w-full">
                    <p data-toast-message class="font-bold"></p>
                    <span data-toast-icon class="material-symbols-outlined text-2xl">
                    </span>
                </div>
                <hr data-toast-line />
            </div>
    </template>
    <script type="module" defer src="~/js/toastContainer.js" asp-append-version="true"></script>














