

 
    <template data-toast-template>
            <div data-toast-container class="toastIn relative h-[6rem] w-full flex-col items-center bg-white shadow-md transition-all">
                <div data-toast-message-container class="flex h-full w-full items-center justify-between p-4">
                    <p data-toast-message class="text-md font-bold"></p>
                    <span data-toast-icon class="material-symbols-outlined text-3xl">
                    </span>
                </div>
                <hr class="border-t-4 animate-[toastLine_3s_linear_1s_forwards] absolute bottom-0 left-0 w-full self-end" data-toast-line />
            </div>
    </template>

<div data-toast-placeholder class="transition-[max-hieght] fixed right-[1rem] top-[2rem] z-50 hidden max-h-[100svh] w-full flex-col gap-4 overflow-hidden pl-6 duration-500 sm:w-[22rem]"></div>


    <script type="module" defer src="~/js/shared/toast.js" asp-append-version="true"></script>














